{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}
{% block title %}{#% trans "Change password" %#}{% endblock %}

{% block body_block %}
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <h2 class="form-signin-heading">Change Your Password</h2>


   <form method="post" action="">
    {% csrf_token %}
    {{ form|as_bootstrap }}
   <br/>
    <!--<input type="submit" value="{#% trans 'Change password' %#}" /> -->
   <button class="btn btn-primary" type="submit"
           name="submit">Change Password</button>
</form>

{% endblock %}




{# This is used by django.contrib.auth #}


